<!DOCTYPE html>
<html class="mainPage">
    <%- include('../partials/head.ejs') %>
    <body class="mainPage dark-main">
        <div class="content container">
            <%- include('../partials/nav.ejs') %>
            <div class="mod-lift-title">
                <h3 class = "title-dark">Welcome to GraphPR</h3>
            </div>
            <hr class="solid">
            <div class="row no-pdn">
                <div class="col-6 infoRow">
                    <div class="inField-dark-small">
                        <h5 class = "title-dark">Unit Conversion</h5>

                    </div>
                </div>
                <div class="col-6">
                    <div class="inField-dark-small">
                        <h5 class = "title-dark">1 Rep Max Calculator</h5>

                    </div>
                </div>
            </div>
            <div class="row no-pdn">
                <div class="col-8">
                    <div class="inField-dark-small">
                        <h5 class = "title-dark">1 Rep Max Warmup</h5>

                    </div>
                </div>
                <div class="col-4">
                    <div class="inField-dark-small">
                        <h5 class = "title-dark">4th Box</h5>
                        
                    </div>
                </div>
            </div>

            <div class="push"></div>
        </div>
        <script src = "../js/index.js"></script>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>