<!DOCTYPE html>
<html class="mainPage">
    <%- include('../partials/head.ejs') %>
    <body class="mainPage dark-main">
        <div class="content container">
            <%- include('../partials/nav.ejs') %>

            <!-- content -->

            <div class="push"></div>
        </div>
        <script src = "../js/index.js"></script>
    </body>
    <%- include('../partials/footer.ejs') %>
</html>